<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>

<body>
<!--хэдер-->
<header>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid text-white">
  <!--  <span class="navbar-brand" id="navbarBrandAdmin"> -->
         <span class="navbar-brand" id="navbarBrandUser">
        <!--script-->
    </span>
            <form th:action="@{/logout}" th:method="POST">
                <button type="submit" class="btn btn-dark">Logout</button>
            </form>
        </div>
    </nav>
</header>


<div class="container-fluid">
    <div class="row">

        <!--- на странице будет 2 колонки шириной 3 и 9 (макс.ширина 12)--->
        <div class="col-3">
            <!--- Устанавливаем навигацию с вертикальными "подушками"--->
            <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a aria-controls="v-pills-admin" aria-selected="true"
                   class="nav-link active" href="/admin/users"
                   role="tab">Admin</a>
                <a aria-controls="v-pills-user" aria-selected="false" class="nav-link"
                   href="/user/info"
                   role="tab">User</a>
            </div>
        </div>

        <div class="col-9">
            <div class="container-fluid">
                <h1><b>Admin panel</b></h1>
                <div class="tab-content" id="v-pills-tabContent">
                    <div aria-labelledby="v-pills-admin-tab" class="tab-pane fade show active" id="adminPanel"
                         role="tabpanel">

                        <!--вкладка Users Table-->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button aria-controls="nav-users_table" aria-selected="true" class="nav-link active"
                                        data-target="#nav-users_table" data-toggle="tab" id="nav-users-tab"
                                        role="tab" type="button">Users table
                                </button>

                                <!--вкладка New User-->

                                <button aria-controls="nav-new_user" aria-selected="false" class="nav-link"
                                        data-target="#nav-new_user" data-toggle="tab" id="nav-new_user-tab"
                                        role="tab"
                                        type="button">New User
                                </button>
                            </div>
                        </nav>

                        <!--User's List-->
                        <div class="tab-content" id="nav-tabContent">
                            <div aria-labelledby="nav-users_table-tab" class="tab-pane fade show active"
                                 id="nav-users_table"
                                 role="tabpanel">
                                <h3><b>All users</b></h3>
                                <table id="tableUsers" class="table mt-2 table-striped table-bordered">
                                    <thead>
                                    <tr class="text-center">
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">LastName</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Login</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="usersTable">
                                    </tbody>
                                </table>

                                <!--EDit-->
                                <div class="modal fade" aria-hidden="true" aria-labelledby="EditModalLabel"
                                     id="editModal"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary text-white text-center">
                                                <h5 class="modal-title" id="EditModalLabel">Edit user</h5>
                                                <button aria-label="Close"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal" type="button"></button>
                                            </div>

                                            <form id="editForm">
                                                <div class="modal-body text-center">
                                                    <div class="mb-3">
                                                        <label for="edit-id" class="col-form-label"><b>Id</b></label>
                                                        <input class="form-control"
                                                               id="edit-id"
                                                               name="id"
                                                               type="text" readonly/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="editName"><b>Name</b></label>
                                                        <input class="form-control"
                                                               id="editName"
                                                               name="name"
                                                               type="text"/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="edit-lastName"><b>Last Name</b></label>
                                                        <input class="form-control" id="edit-lastName"
                                                               name="lastName"
                                                               type="text"/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="edit-age"><b>Age</b></label>
                                                        <input class="form-control"
                                                               id="edit-age"
                                                               name="age"
                                                               type="number"/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="edit-email"><b>Email</b></label>
                                                        <input class="form-control"
                                                               id="edit-email"
                                                               name="email"
                                                               type="text"/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="edit-username"><b>Login</b></label>
                                                        <input class="form-control"
                                                               id="edit-username"
                                                               name="username"
                                                               type="text"/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="edit-password"><b>Password</b></label>
                                                        <input class="form-control"
                                                               id="edit-password"
                                                               name="password"
                                                               type="text"/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="edit-roles">Check role</label>
                                                            <select class="form-select" name="newRoles"
                                                                    id="edit-roles" multiple>
                                                                <option selected value="ROLE_USER">USER</option>
                                                                <option value="ROLE_ADMIN">ADMIN</option>
                                                                <!--

                                                                                              <option value="1">USER</option>
                                                                <option value="2">ADMIN</option>
                                                                                             -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary"
                                                                data-dismiss="modal"
                                                                type="button">Close
                                                        </button>
                                                        <button class="btn btn-primary" type="submit"
                                                                value="Edit">Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <!-- Модальное окно Delete-->
                                <!--       <div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal"
                                            id="deleteModal"
                                            tabindex="-1"
                                            th:id="${'deleteModal'+user.getId()}">
                                           <div class="modal-dialog modal-dialog-scrollable">
                                               <div class="modal-content"> -->

                                <!-- Заголовок модального окна Delete-->
                                <!--     <div class="modal-header">
                                         <h4 class="modal-title" id="deleteModalLabel">Delete user</h4>
                                         <button aria-label="Close" class="btn-close"
                                                 data-dismiss="modal"
                                                 type="button"></button>
                                     </div> -->

                                <!-- Тело модального окна Delete-->
                                <!--     <div class="modal-body text-center">
                                         <div class="d-flex container">
                                             <div class="row">
                                                 <form id="deleteForm"
                                                       th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                       th:method="DELETE"
                                                       th:object="${user}">
                                                     <div class="mb-3">

                                                         <label for="delete-id"><b>Id</b></label>
                                                         <input class="form-control"
                                                                disabled
                                                                id="delete-id" th:name="id"
                                                                th:type="text" th:value="${user.getId()}"/>
                                                     </div>
                                                     <div class="mb-3">
                                                         <label for="delete-name"><b>Name</b></label>
                                                         <input class="form-control"
                                                                disabled id="delete-name"
                                                                th:name="name"
                                                                th:type="text"
                                                                th:value="${user.getName()}"/>
                                                     </div>
                                                     <div class="mb-3">
                                                         <label for="delete-lastName"><b>Last
                                                             Name</b></label>
                                                         <input class="form-control"
                                                                disabled
                                                                id="delete-lastName"
                                                                th:name="lastName"
                                                                th:type="text"
                                                                th:value="${user.getLastName()}"/>
                                                     </div>
                                                     <div class="mb-3">
                                                         <label for="delete-age"><b>Age</b></label>
                                                         <input class="form-control"
                                                                disabled
                                                                id="delete-age"
                                                                th:name="age"
                                                                th:type="number" th:value="${user.getAge()}"/>
                                                     </div>
                                                     <div class="mb-3">
                                                         <label for="delete-email"><b>Email</b></label>
                                                         <input class="form-control"
                                                                disabled
                                                                id="delete-email"
                                                                th:name="email"
                                                                th:type="text" th:value="${user.getEmail()}"/>
                                                     </div>
                                                     <div class="mb-3">
                                                         <label for="delete-username"><b>Login</b></label>
                                                         <input class="form-control"
                                                                disabled
                                                                id="delete-username"
                                                                th:name="username"
                                                                th:type="text"
                                                                th:value="${user.getUsername()}"/>
                                                     </div> -->

                                <!-- Подвал модального окна -->
                                <!--    <div class="modal-footer text-end">
                                        <button class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                                type="button">Close
                                        </button>
                                        <input class="btn btn-primary" type="submit"
                                               value="Delete"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->


                                <!-- NEW USER-->
                                <div aria-labelledby="nav-new_user-tab" class="tab-pane fade"
                                     id="nav-new_user"
                                     role="tabpanel">

                                    <h3><b>New user</b></h3>

                                    <div class="d-flex justify-content-center align-items-center container">
                                        <div class="row">
                                            <form id="newUserForm">
                                                <div class="mb-3 text-center">
                                                    <label for="newName"><b>Name</b></label>
                                                    <input class="form-control" id="newName"
                                                           type="text" placeholder="Name"
                                                           required/>

                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newLastName"><b>Last
                                                        Name</b></label>
                                                    <input class="form-control" id="newLastName"
                                                           type="text" placeholder="Last name"
                                                           required/>
                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newAge"><b>Age</b></label>
                                                    <input class="form-control" id="newAge"
                                                           type="number" placeholder="Age"
                                                           required/>

                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newEmail"><b>Email</b></label>
                                                    <input class="form-control" id="newEmail"
                                                           type="text" placeholder="Email"
                                                           required/>
                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newUsername"><b>Login</b></label>
                                                    <input class="form-control" id="newUsername"
                                                           type="text" placeholder="Login"
                                                           required/>
                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newPassword"><b>Password</b></label>
                                                    <input class="form-control" id="newPassword"
                                                           type="text" placeholder="Password"
                                                           required/>
                                                </div>

                                                <div class="mb-3 text-center">
                                                    <div class="form-group">
                                                        <label for="newRoles">Check role</label>
                                                        <select class="form-select"
                                                                name="newRoles"
                                                                id="newRoles" multiple>
                                                            <option value="1">USER</option>
                                                            <option value="2">ADMIN</option>

                                                            <!--
                                                              <option selected value="ROLE_USER">USER</option>
                                                            <option value="ROLE_ADMIN">ADMIN</option>>-->
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--При нажатии на кнопку Add user вызовется метод createNewUser() в js-->
                                                <button class="btn btn-info" type="submit"
                                                        value="Add user">
                                                    Add user
                                                </button>
                                            </form>

                                        </div>
                                    </div>

                                    <!---------------- Иформация о админе во вкладке User-------->
                                    <div class="tab-pane fade" id="v-pills-user"
                                         role="tabpanel"
                                         aria-labelledby="v-pills-userAdmin-tab"
                                         tabindex="0">
                                        <h2><b>User information-page</b></h2>
                                        <nav class="navbar navbar-light bg-light">
                                            <div class="container-fluid">
                                                <h5><b>About User</b></h5>
                                            </div>
                                        </nav>
                                        <table class="table table-striped">
                                            <thead class="thead">
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">LastName</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Login</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                            </thead>
                                         <!--   <tbody id="tableAdmin">-->
                                            <tbody id="tableAuthUser">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/admin.js"></script>
<script src="/authUser.js"></script>

</body>
</html>