<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" rel="stylesheet">

</head>

<body>
<!--хэдер-->
<header>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid text-white">
            <span class="navbar-brand" id="navbarBrandUser">
            </span>
            <form th:action="@{/logout}" th:method="POST">
                <button class="btn btn-dark" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>


<div class="container-fluid">
    <div class="row">

        <!--- на странице будет 2 колонки шириной 3 и 9 (макс.ширина 12)--->
        <div class="col-3">
            <!--- Устанавливаем навигацию с вертикальными "подушками"--->
            <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a aria-controls="v-pills-admin" aria-selected="true"
                   class="nav-link active" href="/admin/users"
                   role="tab">Admin</a>
                <a aria-controls="v-pills-user" aria-selected="false" class="nav-link"
                   href="/user/info"
                   role="tab">User</a>
            </div>
        </div>

        <div class="col-9">
            <div class="container-fluid">
                <h1><b>Admin panel</b></h1>
                <div class="tab-content" id="v-pills-tabContent">
                    <div aria-labelledby="v-pills-admin-tab" class="tab-pane fade show active" id="adminPanel"
                         role="tabpanel">

                        <!--вкладка Users Table-->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button aria-controls="nav-users_table" aria-selected="true" class="nav-link active"
                                        data-target="#navUsersTab" data-toggle="tab" id="nav-users-tab"
                                        role="tab" type="button">Users table
                                </button>

                                <!--вкладка New User-->

                                <button aria-controls="nav-new_user" aria-selected="false" class="nav-link"
                                        data-target="#navNewUser" data-toggle="tab" id="nav-new_user-tab"
                                        role="tab"
                                        type="button">New User
                                </button>
                            </div>
                        </nav>

                        <!--USERS LIST-->
                        <div class="tab-content" id="nav-tabContent">
                            <div aria-labelledby="navUsersTab" class="tab-pane fade show active"
                                 id="nav-users_table"
                                 role="tabpanel">
                                <h3><b>All users</b></h3>
                                <table class="table mt-2 table-striped table-bordered" id="tableUsers">
                                    <thead>
                                    <tr class="text-center">
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">LastName</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Login</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="usersTable">
                                    </tbody>
                                </table>

                                <!--EDIT MODAL-->
                                <div aria-hidden="true" aria-labelledby="EditModalLabel" class="modal fade"
                                     id="editModal"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary text-white text-center">
                                                <h5 class="modal-title" id="EditModalLabel">Edit user</h5>
                                                <button class="btn-close"
                                                        data-dismiss="modal"
                                                        type="button">&times;
                                                </button>
                                            </div>

                                            <div class="modal-body text-center">
                                                <div class="d-flex justify-content-center align-items-center container">
                                                    <form id="editForm">
                                                        <div class="mb-3">
                                                            <label class="col-form-label"
                                                                   for="edit-id"><b>Id</b></label>
                                                            <input class="form-control"
                                                                   id="edit-id"
                                                                   name="id"
                                                                   readonly type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="edit-name"><b>Name</b></label>
                                                            <input class="form-control"
                                                                   id="edit-name"
                                                                   name="name"
                                                                   type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="edit-lastName"><b>Last Name</b></label>
                                                            <input class="form-control" id="edit-lastName"
                                                                   name="lastName"
                                                                   type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="edit-age"><b>Age</b></label>
                                                            <input class="form-control"
                                                                   id="edit-age"
                                                                   name="age"
                                                                   type="number"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="edit-email"><b>Email</b></label>
                                                            <input class="form-control"
                                                                   id="edit-email"
                                                                   name="email"
                                                                   type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="edit-username"><b>Login</b></label>
                                                            <input class="form-control"
                                                                   id="edit-username"
                                                                   name="username"
                                                                   type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="edit-password"><b>Password</b></label>
                                                            <input class="form-control"
                                                                   id="edit-password"
                                                                   name="password"
                                                                   type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <div class="form-group">
                                                                <label for="edit-roles"><b>Check role</b></label>
                                                                <select class="form-select"
                                                                        id="edit-roles"
                                                                        multiple
                                                                        name="roles" style="width: 100px; height: 50px;">
                                                                    <option style="text-align: center;"
                                                                            value="ROLE_USER">USER
                                                                    </option>
                                                                    <option style="text-align: center;"
                                                                            value="ROLE_ADMIN">
                                                                        ADMIN
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary"
                                                                    data-dismiss="modal"
                                                                    id="editClose"
                                                                    type="button">Close
                                                            </button>
                                                            <button class="btn btn-primary" type="submit"
                                                                    value="Edit">Save
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--DELETE MODAL-->
                                <div aria-hidden="true" aria-labelledby="DeleteModalLabel" class="modal fade"
                                     id="deleteModal"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary text-white text-center">
                                                <h5 class="modal-title" id="DeleteModalLabel">Delete user</h5>
                                                <button class="btn-close"
                                                        data-dismiss="modal"
                                                        type="button">&times;
                                                </button>
                                            </div>


                                            <div class="modal-body text-center">
                                                <div class="d-flex justify-content-center align-items-center container">
                                                    <form id="deleteForm">
                                                        <div class="mb-3">
                                                            <label class="col-form-label"
                                                                   for="delete-id"><b>Id</b></label>
                                                            <input class="form-control"
                                                                   id="delete-id"
                                                                   name="id"
                                                                   readonly type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="delete-name"><b>Name</b></label>
                                                            <input class="form-control"
                                                                   id="delete-name"
                                                                   name="name"
                                                                   readonly type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="delete-lastName"><b>Last Name</b></label>
                                                            <input class="form-control" id="delete-lastName"
                                                                   name="lastName"
                                                                   readonly type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="delete-age"><b>Age</b></label>
                                                            <input class="form-control"
                                                                   id="delete-age"
                                                                   name="age"
                                                                   readonly type="number"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="delete-email"><b>Email</b></label>
                                                            <input class="form-control"
                                                                   id="delete-email"
                                                                   name="email"
                                                                   readonly type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="delete-username"><b>Login</b></label>
                                                            <input class="form-control"
                                                                   id="delete-username"
                                                                   name="username"
                                                                   readonly type="text"/>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary"
                                                                    data-dismiss="modal"
                                                                    id="deleteClose"
                                                                    type="button">Close
                                                            </button>
                                                            <button class="btn btn-primary" type="submit"
                                                                    value="Delete">Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- NEW USER-->
                                <div aria-labelledby="nav-new_user-tab" class="tab-pane fade"
                                     id="navNewUser"
                                     role="tabpanel">
                                    <div class="card text-center" style="width: 100%;">
                                        <h4 class="card-header"><b>New user</b></h4>
                                        <div class="card-body d-flex justify-content-center text-center container">
                                            <form id="newUserForm">
                                                <div class="mb-3 text-center">
                                                    <label for="newName"><b>Name</b></label>
                                                    <input class="form-control" id="newName"
                                                           placeholder="Name" required
                                                           type="text"/>

                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newLastName"><b>Last
                                                        Name</b></label>
                                                    <input class="form-control" id="newLastName"
                                                           placeholder="Last name" required
                                                           type="text"/>
                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newAge"><b>Age</b></label>
                                                    <input class="form-control" id="newAge"
                                                           placeholder="Age" required
                                                           type="number"/>

                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newEmail"><b>Email</b></label>
                                                    <input class="form-control" id="newEmail"
                                                           placeholder="Email" required
                                                           type="text"/>
                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newUsername"><b>Login</b></label>
                                                    <input class="form-control" id="newUsername"
                                                           placeholder="Login" required
                                                           type="text"/>
                                                </div>
                                                <div class="mb-3 text-center">
                                                    <label for="newPassword"><b>Password</b></label>
                                                    <input class="form-control" id="newPassword"
                                                           placeholder="Password" required
                                                           type="text"/>
                                                </div>

                                                <div class="mb-3 text-center">
                                                    <div class="form-group">
                                                        <label for="newRoles"><b>Check role</b></label>
                                                        <select class="form-select"
                                                                id="newRoles"
                                                                multiple
                                                                name="newRoles" style="width: 100px; height: 50px;">
                                                            <option style="text-align: center;" value="1">
                                                                USER
                                                            </option>
                                                            <option style="text-align: center;" value="2">
                                                                ADMIN
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div>
                                                    <!--При нажатии на кнопку Add user вызовется метод createNewUser() в js-->
                                                    <button class="btn btn-primary" type="submit"
                                                            value="Add user">
                                                        Add user
                                                    </button>
                                                    <button class="btn btn-secondary"
                                                            id="newClose"
                                                            type="button">Close
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!---------------- PERSONAL USER PAGE-------->
                                <div aria-labelledby="v-pills-userAdmin-tab" class="tab-pane fade"
                                     id="v-pills-user"
                                     role="tabpanel"
                                     tabindex="0">
                                    <h2><b>User information-page</b></h2>
                                    <nav class="navbar navbar-light bg-light">
                                        <div class="container-fluid">
                                            <h5><b>About User</b></h5>
                                        </div>
                                    </nav>
                                    <table class="table table-striped">
                                        <thead class="thead">
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">LastName</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Login</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableAuthUser">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/admin.js"></script>
<script src="/authUser.js"></script>

</body>
</html>