<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>

<body>
<h2>Введите данные нового пользователя</h2>
<br>
<form th:method="POST" th:action="@{/admin/registration}" th:object="${user}">

    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name">
    <br><br>

    <label for="lastName">Фамилия</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br><br>
    <label for="age">Возраст:</label>
    <input type="text" th:field="*{age}" id="age">
    <br><br>

    <label for="email"> Email</label>
    <input type="text" th:field="*{email}" id="email">
    <br><br>

    <label for="username">Логин</label>
    <input type="text" th:field="*{username}" id="username">
    <br><br>

    <label for="password">Пароль</label>
    <input class="field" type="password" th:field="*{password}" id="password">
    <br><br>
     <div>
        <label>Выбрать роль
                <th:block th:each="role: ${roles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.getRole()}" th:value="${role.getId()}" class="m-2" />
                </th:block>
            </label>
    </div>
    <br>
    <input type="submit" value="Добавить нового пользователя"/>
</form>
<br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>