<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>

<body>
<h2>Введите данные нового пользователя</h2>
<br>
<form th:action="@{/admin/registration}" th:method="POST" th:object="${user}">

    <label for="name">Имя</label>
    <input id="name" th:field="*{name}" type="text">
    <br><br>

    <label for="lastName">Фамилия</label>
    <input id="lastName" th:field="*{lastName}" type="text">
    <br><br>
    <label for="age">Возраст:</label>
    <input id="age" th:field="*{age}" type="text">
    <br><br>

    <label for="email"> Email</label>
    <input id="email" th:field="*{email}" type="text">
    <br><br>

    <label for="username">Логин</label>
    <input id="username" th:field="*{username}" type="text">
    <br><br>

    <label for="password">Пароль</label>
    <input class="field" id="password" th:field="*{password}" type="password">
    <br><br>
    <div>
        <label>Выбрать роль
            <th:block th:each="role: ${roles}">
                <input class="m-2" th:field="*{roles}"
                       th:text="${role.getRole()}" th:value="${role.getId()}" type="checkbox"/>
            </th:block>
        </label>
    </div>
    <br>
    <input type="submit" value="Добавить нового пользователя"/>
</form>
<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>