<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Персональная страница</title>
</head>
<body>
<div>
    <p th:text="${helloMessage}"></p>
</div>
<p th:text="${user.getId()}">Id</p>
<p th:text="${user.getName()}">Имя</p>
<p th:text="${user.getLastName()}">Фамилия</p>
<p th:text="${user.getAge()}">Возраст</p>
<p th:text="${user.getEmail()}">Email</p>
<p th:text="${user.getUsername()}">Логин</p>
<p th:text="${user.getAuthorities()}">Роли</p>

<br>
<div>
    <input onclick="history.go(-1)" type="button" value="Назад">
</div>
</body>
</html>